<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Wardrobe - Elm app</title>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <p>Hi</p>
    <script>
      var init = {
        flags: {
          api: {
            items: "<%= Routes.clothes_path(@conn, :index) %>"
          },
          user: {
            display_name: "Raul",
            id: "11890ede-19fe-4114-9c92-1294bd98e099"
          }
        }
      }
      var app = window.Elm.Main.init(init);
    </script>
  </body>
</html>
